@charset "UTF-8";
/* CSS Document */

/* ========================
	common style
======================== */

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary{
	display:block;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic","メイリオ","Meiryo", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.5em;
  background: transparent url(../img/common/main_back.jpg) no-repeat top center;
}

.clearfix:after {
	content: ".";
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

div#main_wrapp {
	padding: 0;
	margin: 0;
	text-align: center;
}

div#main_inner {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

a {
    color: #999999;
    text-decoration: none;
}

a:link {
    color: #999999;
    text-decoration: none;
}

a:visited {
    color:#000000;
    text-decoration: none;
}

a:hover {
  color: #555555;
	text-decoration: underline;
}

/* ----------------------------
Yahoo! CSS Reset (YUI 3)
http://developer.yahoo.com/yui/3/cssreset/
CSSresetr.com
---------------------------- */

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
  background: transparent url() no-repeat top left;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

fieldset, img {
  border:0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}

li {
  list-style:none;
}

caption, th {
  text-align:left;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
}

q:before, q:after {
  content:'';
}

abbr, acronym {
  border:0;
  font-variant:normal;
}

sup {
  vertical-align:text-top;
}

sub {
  vertical-align:text-bottom;
}

input, textarea, select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}

input, textarea, select {
  *font-size:100%;
}

legend {
  color:#000;
}

/* ========================
	header style
======================== */

div#header_container {
  width: 960px;
  padding: 50px 0 200px 0;
}

div#header_logo {
  width: 300px;
  float: left;
}

div#header_navi_container {
  width: 390px;
  padding: 10px 0 0 0;
  float: right;
}

div#header_navi_container ul {
  width: 248px;
  overflow: hidden;
  margin: 0 -25px 0 0;
  _zoom: 1;
  overflow: visible;
  float: left;
}

div#header_navi_container ul li {
  width: 37px;
  margin: 0 25px 0 0;
  float: left;
}

div#header_navi_container p {
  width: 130px;
  height: 33px;
  float: right;
  color: #ffffff;
  background: transparent url(../img/common/header_user_off.png) no-repeat 0 5px;
}

div#header_navi_container p:hover {
  width: 130px;
  height: 33px;
  float: right;
  color: #ffffff;
  font-weight: bold;
  background: transparent url(../img/common/header_user_on.png) no-repeat 0 5px;
}

div#header_navi_container p span {
  width: 105px;
  margin: 0 0 0 25px;
  padding: 10px 0 0 0;
  display: block;
}

div#header_navi_container p a:link, div#header_navi_container p a:visited, div#header_navi_container p a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* -------------------
  pulldown layout
------------------- */

span.cog_top, span.cog_bottom {
  width: 200px;
  display: block;
}

span.cog_wrapp {
  width: 200px;
  display: block;
  background: transparent url(../images/common/cog_wrapp.png) repeat-y top left;
}

span.cog_wrapp a:link, span.cog_wrapp a:visited {
  color: #bcbcbc;
  text-decoration: none;
}

span.cog_wrapp a:hover {
  color: #666666;
  text-decoration: none;
}

div#header_navi_container ul li ul li {
  width: 140px;
  margin: 0 0 0 30px;
  padding: 5px 0 0 0;
  float: none;
}

div#header_navi_container ul li ul {
  width: 200px;
  margin: 0 0 0 -82px;
  display: none;
}

div#header_navi_container ul li:hover ul {
  width: 200px;
  display: block;
  position: absolute;
  z-index: 100;
}

/* ========================
  modal style
======================== */

/* 
#showoverlay{
  padding: 0;
}

#modalbox {
    display:none;
    position:absolute;
    z-index:1000;
    width:400px;
    padding:20px;
    background:#ffffff;
    border:5px solid #eee;
}

#overlay {
    opacity:0;
    filter: alpha(opacity=0);
    position:absolute;
    top:0;
    left:0;
    z-index:900;
    width:100%;
    height:100%;
    background:#000;
}

.sub_title {
  font-weight: bold;
}

.padding_layout {
  padding: 20px 0 5px 0;
}

#close {
    position: absolute;
    top:10px;
    right:10px;
    color:red;
    text-decoration:none;
    cursor: pointer;
}

ul.login_form {
  width: 400px;
  padding: 20px 0 0 0;
}

ul.login_form li {
  width: 400px;
  padding: 0 0 10px 0;
}

.user {
  width: 280px;
  height: 30px;
  line-height: 30px;
}

span.login_left {
  width: 300px;
  height: 30px;
  line-height: 30px;
  float: left;
  display: block;
}

span.login_right {
  width: 90px;
  height: 30px;
  padding: 0 0 10px 0;
  line-height: 30px;
  float: right;
  display: block;
}

span.login_user_left {
  width: 15px;
  height: 30px;
  line-height: 30px;
  float: left;
  display: block;
}

span.login_user_right {
  width: 280px;
  height: 30px;
  line-height: 30px;
  float: right;
  display: block;
}

.password {
  width: 300px;
  height: 30px;
  line-height: 30px;
}

p.make_area {
  width: 289px;
  margin: 0 0 0 55px;
  padding: 20px 0 10px 0;
}
*/

/* ========================
  login / error style
======================== */

div#login_container_wrapp, div#error_container {
  width: 960px;
}

div#login_container_wrapp h2 {
  width: 960px;
  padding: 20px 0 50px 0;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #94dd83;
}

div#error_text_container {
  width: 960px;
  text-align: center;
}

div#error_container h2 {
  width: 960px;
  padding: 0 0 30px 0;
}

div#error_container h3 {
  width: 960px;
  padding: 0 0 20px 0;
  font-weight: bold;
  font-size: 13px;
}

div#login_container, div#login_again_container {
  width: 500px;
  margin: 0 0 0 230px;
  padding: 50px 0;
  border: 1px #94dd83 solid;
}

div#login_inner, div#login_again_inner {
  width: 400px;
  margin: 0 0 0 50px;
}

div#error_page_container {
  width: 960px;
  text-align: center;
}

div#error_page_container p {
  width: 960px;
  line-height: 3em;
  font-size: 15px;
}

/* ========================
  footer style
======================== */


div#footer_top_wrapp {
  padding: 80px 0 0 0;
  margin: 0 0 -10px 0;
  text-align: center;
  background: transparent url(../img/common/footer_back.jpg) repeat-x bottom center;
}

div#footer_top_inner {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

div#footer_top_inner p {
  width: 350px;
  margin: 0 0 0 520px;
}

div#footer_container_wrapp {
  padding: 0 0 35px 0;
  margin: 0;
  text-align: center;
  background: transparent url(../img/common/footer_main_back.gif) repeat top left;
}

div#footer_container {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

div#footer_container p {
  width: 960px;
  padding: 60px 0 20px 0;
}

div#footer_container ul {
  width: 960px;
  padding: 10px 0 0 0;
}

div#footer_container ul a:link, div#footer_container ul a:visited {
  color: #ffffff;
}

div#footer_container ul a:hover {
  color: #ffffff;
  text-decoration: underline;
}

div#footer_container ul li {
  float: left;
  color: #ffffff;
}

li.f_line {
  width: 25px;
  text-align: center;
}

div#copy_wrrap {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  background: #86C979 url() no-repeat top left;
}

div#copy_wrrap address {
  width: 960px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 10px;
}





/* ========================
  common style
======================== */

.pt_5 {
  padding: 5px 0 0 0;
}

.pt_10 {
  padding: 10px 0 0 0;
}

.pt_20 {
  padding: 20px 0 0 0;
}

.pt_30 {
  padding: 30px 0 0 0;
}

.pd_5 {
  padding: 0 0 5px 0;
}

.pd_10 {
  padding: 0 0 10px 0;
}

.pd_20 {
  padding: 0 0 20px 0
}

.pd_30 {
  padding: 0 0 30px 0
}

.tipped {
  color: #cccccc;
}



