
/* number_area */

div#my_top_container {
  width: 960px;
  margin:30px 0;
}

ul#number_area {
  width: 750px;
  margin:0 105px;
  padding:0px 0 ;
}

ul#number_area li {
  width: 180px;
  float:left;
}

div#main_my_top_container {
  width: 960px;
  padding: 40px 0 0 0;
}

/* ========================
参加中の企画画面のCSS
======================== */

div#search_result {
  width: 850px;
  margin: 0 0 0 30px;
}

div#search_result ul {
  width: 900px;
  margin: 0 -50px 0 0;
  overflow: hidden;
  _zoom: 1;
}

div#search_result ul li {
  width: 250px;
  height: 320px;
  margin: 0 50px 50px 0;
  overflow: hidden;
  float: left;
  position: relative;
<<<<<<< HEAD
  background: transparent url(../images/common/list_back.png);
=======
  background: transparent url(../img/common/list_back.png);
>>>>>>> refs/remotes/origin/waninaru201311
}

div.background {
  width: 74px;
  position: absolute;
  top: 0;
  left: 176px;
  z-index: 10;
}

div.thumb {
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
}

div.text {
  width: 50px;
  font-size: 15px;
  position: absolute;
  top: 4px;
  left: 126px;
  z-index: 10;
}

div.seat_number {
  width: 40px;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  position: absolute;
  top: 17px;
  left: 195px;
  z-index: 20;
}

div.title {
  width: 200px;
  font-size: 15px;
  position: absolute;
  top: 235px;
  left: 25px;
}

div.date {
  width: 200px;
  position: absolute;
  top: 283px;
  left: 25px;
}

div#search_result_bottom {
  width: 960px;
  position: relative;
  overflow: hidden;
  font-size: 15px;
}

div#search_result_bottom ul {
  float: left;
  position: relative;
  left: 50%;
}

div#search_result_bottom ul li {
  margin: 0 10px;
  float: left;
  position: relative;
  left: -50%;
}

li.middle {
  padding: 5px 0 0 0;
}

div#search_result_bottom span {
  color: #5ec546;
  font-weight: bold;
  font-size: 25px;
}


/* ========================
 CSS for pulldown menu v1.3
 Copyright(c) ASH (http://ash.jp/)
======================== */

ul.menu {
		width: 300px;
		margin:0 330px;
		padding:0 0 70px 0 ;
}

ul.menu li {
		position: relative;
		display: inline-block;
		font-size: 14px;
		line-height: 25px;
		white-space: nowrap;
		float: left;
		color: #000000;
		background: #eeeeee;
		border: none;
		margin: 0;
		padding: 0;
}


ul.menu a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-size: 14px;
		line-height: 25px;
		color: #000000;
		background: #ffffff;
		margin: 0;
		padding: 0px 10px;
}

ul.menu ul {
		position: relative;
		display: none;
		list-style: none;
		height: 25px;
		color: #000000;
		background: #ffffff;
		border-top: #aaaaaa 1px solid;
		margin: 0;
		padding: 0;
}

ul.menu > li{
		border-right: #aaaaaa 1px solid;
}

ul.menu > li li {
		clear: left;
		border: #aaaaaa 1px solid;
		border-top: none;
}

ul.menu > li li a {
		background: #eeeeee;
		padding: 0px 10px;
}

ul.menu li:hover > a {
		color: #000000;
		background: #cccccc;
}

ul.menu li:hover > ul {
		display: inline-block;
		position: absolute;
		top: 100%;
		left: 5px;
}






/* ========================
 CSS for pulldown menu v1.3
 Copyright(c) ASH (http://ash.jp/)
======================== */

ul.menu {
		width: 300px;
		margin:0 330px;
		padding:0 0 130px 0 ;
}

ul.menu li {
		position: relative;
		display: inline-block;
		font-size: 14px;
		line-height: 25px;
		white-space: nowrap;
		float: left;
		color: #000000;
		background: #eeeeee;
		border: none;
		margin: 0;
		padding: 0;
}


ul.menu a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-size: 14px;
		line-height: 25px;
		color: #000000;
		background: #ffffff;
		margin: 0;
		padding: 0px 10px;
}

ul.menu ul {
		position: relative;
		display: none;
		list-style: none;
		height: 25px;
		color: #000000;
		background: #ffffff;
		border-top: #aaaaaa 1px solid;
		margin: 0;
		padding: 0;
}

ul.menu > li{
		border-right: #aaaaaa 1px solid;
}

ul.menu > li li {
		clear: left;
		border: #aaaaaa 1px solid;
		border-top: none;
}

ul.menu > li li a {
		background: #eeeeee;
		padding: 0px 10px;
}

ul.menu li:hover > a {
		color: #000000;
		background: #cccccc;
}

ul.menu li:hover > ul {
		display: inline-block;
		position: absolute;
		top: 100%;
		left: 5px;
}

