/* =======================
    逕ｻ蜒�
======================== */
li#left_image{
	float:left;
	margin:0 0 0 100px;
}

li#right{
	float:right;
	width:400px;
	margin:0 100px 0 0 ;
}

li#right_btn{
	width:300px;
	margin:0 0 0 280px;
}


.content{
	width:860px;
	margin: 0 50px ;
	padding:50px 0;

}

input.radio1{
	width:30px;
}

input.radio2{
	width:30px;
}

div#radio_content{
	width:200px;
	float:right;
}

div#radio_content1{
	width:80px;
	float:left;
}

div#radio_content2{
	width:80px;
	float:right;
}

span.radio1{
	width:10px;
}

span.radio2{
	width:70px;
}

/* ========================
 CSS 蝗ｲ縺ｿ
======================== */
#main_content{
	width:960px;
	
}/*蜈ｨ縺ｦ繧貞峇縺｣縺ｦ縺�ｋ*/

#tab_content{
	width:860px;
	margin:0 50px;
}/*green_text莉･螟悶ｒ蝗ｲ縺｣縺ｦ縺�ｋ*/

#my_prof_container{
	width:860px;
}/*my_prof_check_ok縲�蜈ｨ縺ｦ繧貞峇縺｣縺ｦ繧�*/

/* ========================
 鬘悟錐
======================== */

#green_text01{
  width: 230px;
  padding: 30px 0 20px 0;
  font-size: 26px;
  font-weight: bold;
  color: #509f3f;
  line-height: 1.5em;
  text-align: left;  
}/*縲�繝励Ο繝輔ぅ繝ｼ繝ｫ螟画峩_譁�ｭ苓牡縲�*/

/* ========================
 繧ｹ繝壹�繧ｹ
======================== */
.row {
	width:760px;
	border-bottom: 1px dotted #999999;
	margin: 0 50px;
}/*邱�*/

.row_last {
	width:760px;
	margin: 0 50px;
}/*譛�蠕後�邱�*/

#space{
	width:660px;
	padding:30px 0;
	margin:0 50px;
}/*row縺ｨspace縺ｮ髢�*/

span.comment{
	font-size:18px;
	width:660px
}


/* ========================
 蟾ｦ蜿ｳ縲�驟咲ｽｮ
======================== */

p.name_area{
	width:300px;
	float:left;
	font-size:22px;
	margin-top:7px;
}/*蟾ｦ譁�ｭ�*/

p#name_area_textarea{
	width:300px;
	float:left;
	font-size:22px;
	margin-top:7px;
	padding-bottom:20px;
}/*蟾ｦ譁�ｭ�*/

.text_box{

	width:200px;
	float:right;
	height:40px;
	text-align:left;
	
}

.big_bag{

	width:200px;
	float:right;
	text-align:right;
	
}

.content_{
	width:230px;
}

.check{
	width:15px;
	float:left;
}

span.maill_padding{
	width: 200px;
	float:right;
	display:block;
	padding:0 0 20px 0;
}

p#block{
	font-size:14px;
	text-align: left;  
}

span.check_padding{
	width: 30px;
	float:left;
	padding:5px 0 0 0;
}

span#expose{
	width:300px;
	float:right;
	height:25px;
	text-align:lft;
}




select.text_box{
	width:300px;
	float:right;
	height:25px;
	text-align:left;
}/*荳�陦後�譁�ｫ�*/

span.text_box{
	width:300px;
	float:right;
	height:25px;
	text-align:;
}/*荳�陦後�譁�ｫ�*/

span.text_box_{
	width:300px;
	float:right;
	text-align:left;
}/*繝励Ο繝輔ぅ繝ｼ繝ｫ譁�ｫ�縺ｮ譁�ｫ�*/

form#number{
	width:200px;
	font-size:16px;
	float:right;
	margin:0 100px;
}/*蟄ｦ邀咲分蜿ｷ縲�form*/

form#expose{
	font-size:18px;
	font-weight:700;
}



textarea{
	width:660px;
}/*繝励Ο繝輔ぅ繝ｼ繝ｫ譁�ｫ�*/

#sending{
	margin:0 180px;
	
}/*蜈･蜉帷｢ｺ隱�*/

#mail_wrap_content{
	width:230px;
	float:right;
}

span.big_bag{




}

/* ========================
 鬲疲ｳ輔�險�闡峨��
======================== */

.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}/*鬲疲ｳ輔�險�闡�*/



.img{
	width:300px;
	float:right;
}






input[type=text]{
	   border:#a9a9a9 1px solid;
	   width:200px;
	   height:25px;
	   padding-top:2px;
	   vertical-align:bottom;
}
	 
input[type=text]:focus {
   border:solid 1px #20b2aa;
}


